attrs==26.1.0
certifi==2025.7.14+ppc64le1
charset-normalizer==3.4.6
click==8.2.1
filelock==3.18.0+ppc64le1
idna==3.11
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.1.1+ppc64le1
numpy==2.4.4+ppc64le1
packaging==26.0
protobuf==7.34.1
PyYAML==6.0.3+ppc64le1
ray==2.53.0+ppc64le1
referencing==0.37.0
requests==2.33.0
rpds-py==0.30.0
scikit-learn==1.8.0+ppc64le1
scipy==1.17.1+ppc64le2
setuptools==68.2.2
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3==2.6.3
