azure-common==1.1.28
azure-core==1.35.0
azure-mgmt-authorization==4.0.0+ppc64le1
azure-mgmt-batch==18.0.0+ppc64le1
azure-mgmt-cdn==13.1.1+ppc64le1
azure-mgmt-containerregistry==14.0.0+ppc64le1
azure-mgmt-containerservice==36.0.0+ppc64le1
azure-mgmt-core==1.6.0
azure-mgmt-cosmosdb==9.8.0+ppc64le1
azure-mgmt-devtestlabs==10.0.0b2+ppc64le1
azure-mgmt-dns==8.2.0+ppc64le1
azure-mgmt-hdinsight==9.1.0b1+ppc64le1
azure-mgmt-iothub==4.0.0+ppc64le1
azure-mgmt-keyvault==11.0.0+ppc64le1
azure-mgmt-loganalytics==13.0.0b7+ppc64le1
azure-mgmt-marketplaceordering==1.2.0b2+ppc64le1
azure-mgmt-monitor==7.0.0b2+ppc64le1
azure-mgmt-network==29.0.0+ppc64le1
azure-mgmt-rdbms==10.1.0+ppc64le1
azure-mgmt-redis==14.5.0+ppc64le1
azure-mgmt-resource==23.4.0+ppc64le1
azure-mgmt-servicebus==9.0.0+ppc64le1
azure-mgmt-sql==4.0.0b21+ppc64le1
azure-mgmt-storage==23.0.0+ppc64le1
azure-mgmt-trafficmanager==1.1.0+ppc64le1
azure-mgmt-web==8.0.0+ppc64le1
certifi==2025.7.14+ppc64le1
charset-normalizer==3.4.3
idna==3.10
isodate==0.7.2
msrest==0.7.1
oauthlib==3.3.1
requests==2.32.5
requests-oauthlib==2.0.0+ppc64le1
six==1.17.0
typing_extensions==4.15.0
urllib3==2.5.0
