certifi==2025.7.14+ppc64le1
charset-normalizer==3.4.3
coloredlogs==15.0.1
flatbuffers==25.2.10+ppc64le1
humanfriendly==10.0
idna==3.10
joblib==1.5.2
mpmath==1.3.0+ppc64le1
numpy==2.0.2+ppc64le1
onnx==1.17.0+ppc64le1
onnxconverter-common==1.14.0+ppc64le1
onnxmltools==1.13.0+ppc64le1
onnxruntime==1.22.1+ppc64le1
packaging==25.0
requests==2.32.5
scikit-learn==1.6.1+ppc64le1
scipy==1.16.2+ppc64le1
setuptools==80.9.0
six==1.17.0
skl2onnx==1.18.0+ppc64le1
sympy>=1.13.3
tf2onnx==1.16.1+ppc64le1
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3==2.5.0
wheel==0.45.1
