contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
imageio==2.37.3
kiwisolver==1.5.0
matplotlib==3.11.0
numpy==2.5.2
packaging==26.0
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
setuptools==68.2.2
six==1.17.0
